/* MAIN CSS
 */
/* INCLUDE LIB & MIXINS */
/* INCLUDE RESET CSS 
 * & SET DEFAULT PROP
 */
/* COMMON CSS
 */
.cth-prime {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
}
.cth-prime a {
  color: #3885af;
}
.cth-prime a:hover {
  color: #3885af;
}
.cth-prime .text-reset {
  font-size: 16px;
}

.wrapper {
  margin: 0 auto;
  width: 990px;
}

/* RESET CSS FROM (YUI 3)
 */
html {
  color: black;
  background-color: white;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
select {
  *font-size: 100%;
}

legend {
  color: black;
}

/* SET WRAPPER FOR SCOPE 
 * & RAISE PRIORITY
 */
.cth-prime {
  /* INCLUDE SHELL & MODULES */
  /* SHELL
   *     -> float
   *     -> offsets in & out
   *     -> dimension	
   */
  /* MARGIN OFFSET LEFT 0-5 STEP 1 */
  /* MARGIN OFFSET LEFT 10-100 STEP 5 */
  /* MARGIN OFFSET RIGHT 0-5 STEP 1 */
  /* MARGIN OFFSET RIGHT 10-100 STEP 5 */
  /* MARGIN OFFSET TOP 0-5 STEP 1 */
  /* MARGIN OFFSET TOP 10-100 STEP 5 */
  /* MARGIN OFFSET BOTTOM 0-5 STEP 1 */
  /* MARGIN OFFSET BOTTOM 10-100 STEP 5 */
  /* Name: main-menu test
   * Created: Sergii_Azizov
   * Version: 0.0.01
   */
}
.cth-prime .is-left {
  float: left;
}
.cth-prime .is-right {
  float: right;
}
.cth-prime .is-clear {
  overflow: hidden;
}
.cth-prime .offset-l-0 {
  margin-left: 0px;
}
.cth-prime .offset-l-1 {
  margin-left: 1px;
}
.cth-prime .offset-l-2 {
  margin-left: 2px;
}
.cth-prime .offset-l-3 {
  margin-left: 3px;
}
.cth-prime .offset-l-4 {
  margin-left: 4px;
}
.cth-prime .offset-l-5 {
  margin-left: 5px;
}
.cth-prime .offset-l-10 {
  margin-left: 10px;
}
.cth-prime .offset-l-15 {
  margin-left: 15px;
}
.cth-prime .offset-l-20 {
  margin-left: 20px;
}
.cth-prime .offset-l-25 {
  margin-left: 25px;
}
.cth-prime .offset-l-30 {
  margin-left: 30px;
}
.cth-prime .offset-l-35 {
  margin-left: 35px;
}
.cth-prime .offset-l-40 {
  margin-left: 40px;
}
.cth-prime .offset-l-45 {
  margin-left: 45px;
}
.cth-prime .offset-l-50 {
  margin-left: 50px;
}
.cth-prime .offset-l-55 {
  margin-left: 55px;
}
.cth-prime .offset-l-60 {
  margin-left: 60px;
}
.cth-prime .offset-l-65 {
  margin-left: 65px;
}
.cth-prime .offset-l-70 {
  margin-left: 70px;
}
.cth-prime .offset-l-75 {
  margin-left: 75px;
}
.cth-prime .offset-l-80 {
  margin-left: 80px;
}
.cth-prime .offset-l-85 {
  margin-left: 85px;
}
.cth-prime .offset-l-90 {
  margin-left: 90px;
}
.cth-prime .offset-l-95 {
  margin-left: 95px;
}
.cth-prime .offset-l-100 {
  margin-left: 100px;
}
.cth-prime .offset-r-0 {
  margin-right: 0px;
}
.cth-prime .offset-r-1 {
  margin-right: 1px;
}
.cth-prime .offset-r-2 {
  margin-right: 2px;
}
.cth-prime .offset-r-3 {
  margin-right: 3px;
}
.cth-prime .offset-r-4 {
  margin-right: 4px;
}
.cth-prime .offset-r-5 {
  margin-right: 5px;
}
.cth-prime .offset-r-10 {
  margin-right: 10px;
}
.cth-prime .offset-r-15 {
  margin-right: 15px;
}
.cth-prime .offset-r-20 {
  margin-right: 20px;
}
.cth-prime .offset-r-25 {
  margin-right: 25px;
}
.cth-prime .offset-r-30 {
  margin-right: 30px;
}
.cth-prime .offset-r-35 {
  margin-right: 35px;
}
.cth-prime .offset-r-40 {
  margin-right: 40px;
}
.cth-prime .offset-r-45 {
  margin-right: 45px;
}
.cth-prime .offset-r-50 {
  margin-right: 50px;
}
.cth-prime .offset-r-55 {
  margin-right: 55px;
}
.cth-prime .offset-r-60 {
  margin-right: 60px;
}
.cth-prime .offset-r-65 {
  margin-right: 65px;
}
.cth-prime .offset-r-70 {
  margin-right: 70px;
}
.cth-prime .offset-r-75 {
  margin-right: 75px;
}
.cth-prime .offset-r-80 {
  margin-right: 80px;
}
.cth-prime .offset-r-85 {
  margin-right: 85px;
}
.cth-prime .offset-r-90 {
  margin-right: 90px;
}
.cth-prime .offset-r-95 {
  margin-right: 95px;
}
.cth-prime .offset-r-100 {
  margin-right: 100px;
}
.cth-prime .offset-t-0 {
  margin-top: 0px;
}
.cth-prime .offset-t-1 {
  margin-top: 1px;
}
.cth-prime .offset-t-2 {
  margin-top: 2px;
}
.cth-prime .offset-t-3 {
  margin-top: 3px;
}
.cth-prime .offset-t-4 {
  margin-top: 4px;
}
.cth-prime .offset-t-5 {
  margin-top: 5px;
}
.cth-prime .offset-t-10 {
  margin-top: 10px;
}
.cth-prime .offset-t-15 {
  margin-top: 15px;
}
.cth-prime .offset-t-20 {
  margin-top: 20px;
}
.cth-prime .offset-t-25 {
  margin-top: 25px;
}
.cth-prime .offset-t-30 {
  margin-top: 30px;
}
.cth-prime .offset-t-35 {
  margin-top: 35px;
}
.cth-prime .offset-t-40 {
  margin-top: 40px;
}
.cth-prime .offset-t-45 {
  margin-top: 45px;
}
.cth-prime .offset-t-50 {
  margin-top: 50px;
}
.cth-prime .offset-t-55 {
  margin-top: 55px;
}
.cth-prime .offset-t-60 {
  margin-top: 60px;
}
.cth-prime .offset-t-65 {
  margin-top: 65px;
}
.cth-prime .offset-t-70 {
  margin-top: 70px;
}
.cth-prime .offset-t-75 {
  margin-top: 75px;
}
.cth-prime .offset-t-80 {
  margin-top: 80px;
}
.cth-prime .offset-t-85 {
  margin-top: 85px;
}
.cth-prime .offset-t-90 {
  margin-top: 90px;
}
.cth-prime .offset-t-95 {
  margin-top: 95px;
}
.cth-prime .offset-t-100 {
  margin-top: 100px;
}
.cth-prime .offset-b-0 {
  margin-bottom: 0px;
}
.cth-prime .offset-b-1 {
  margin-bottom: 1px;
}
.cth-prime .offset-b-2 {
  margin-bottom: 2px;
}
.cth-prime .offset-b-3 {
  margin-bottom: 3px;
}
.cth-prime .offset-b-4 {
  margin-bottom: 4px;
}
.cth-prime .offset-b-5 {
  margin-bottom: 5px;
}
.cth-prime .offset-b-10 {
  margin-bottom: 10px;
}
.cth-prime .offset-b-15 {
  margin-bottom: 15px;
}
.cth-prime .offset-b-20 {
  margin-bottom: 20px;
}
.cth-prime .offset-b-25 {
  margin-bottom: 25px;
}
.cth-prime .offset-b-30 {
  margin-bottom: 30px;
}
.cth-prime .offset-b-35 {
  margin-bottom: 35px;
}
.cth-prime .offset-b-40 {
  margin-bottom: 40px;
}
.cth-prime .offset-b-45 {
  margin-bottom: 45px;
}
.cth-prime .offset-b-50 {
  margin-bottom: 50px;
}
.cth-prime .offset-b-55 {
  margin-bottom: 55px;
}
.cth-prime .offset-b-60 {
  margin-bottom: 60px;
}
.cth-prime .offset-b-65 {
  margin-bottom: 65px;
}
.cth-prime .offset-b-70 {
  margin-bottom: 70px;
}
.cth-prime .offset-b-75 {
  margin-bottom: 75px;
}
.cth-prime .offset-b-80 {
  margin-bottom: 80px;
}
.cth-prime .offset-b-85 {
  margin-bottom: 85px;
}
.cth-prime .offset-b-90 {
  margin-bottom: 90px;
}
.cth-prime .offset-b-95 {
  margin-bottom: 95px;
}
.cth-prime .offset-b-100 {
  margin-bottom: 100px;
}
.cth-prime .main-menu {
  line-height: 40px;
  background: #4183c4;
  padding: 5px;
  margin-top: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.cth-prime .main-menu__item {
  display: inline-block;
  text-align: center;
}
.cth-prime .main-menu__item a {
  display: block;
  padding: 0 20px;
  color: white;
  text-decoration: none;
}
.cth-prime .main-menu__item a:hover {
  background: black;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.cth-prime .social-icons-envato {
  background: url('../img/social-icons-s919bdab672.png') 0 -660px no-repeat;
  width: 128px;
  height: 128px;
}
.cth-prime .social-icons-soundcould {
  background: url('../img/social-icons-s919bdab672.png') 0 -522px no-repeat;
  width: 128px;
  height: 128px;
}
.cth-prime .social-icons-twiter {
  background: url('../img/social-icons-s919bdab672.png') 0 0 no-repeat;
  width: 512px;
  height: 512px;
}
.cth-prime .social-icons-youtube {
  background: url('../img/social-icons-s919bdab672.png') 0 -798px no-repeat;
  width: 128px;
  height: 128px;
}
